@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Login</h1>
    <div class="mt-4 container-fluid">
        <input class="form-control mt-4" placeholder="Username">
        <input class="form-control mt-2 mb-1" placeholder="Password">
    </div>
    <a asp-page="/Register">Not registered yet?</a>
</div>