@page
@model LoginSystem.Pages.RegisterModel
@{
}

<div class="text-center">
    <h1 class="display-3">Register</h1>
    <form class="mt-4 container-fluid">
        <input class="form-control mt-4" placeholder="Name">
        <input class="form-control mt-2" placeholder="Surnames">
        <input class="form-control mt-2" placeholder="Username">
        <input class="form-control mt-2" placeholder="Password">
        <input class="form-control mt-2" placeholder="Repeat password">
        <button class="mt-4 mr-2" type="submit">Cancel</button>
        <button class="mt-4" type="submit">Register</button>
    </form>
</div>